<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boots.atomikos.business.afuser.dao.IAfUserDao">

    <select id="bbb" resultType="com.boots.atomikos.business.afuser.model.AfUser">
        select * from af_user
    </select>
</mapper>